<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yanglao.mapper.CustomerMapper">
    <insert id="addCustomer">
        insert into customers(userId,name,phone,address,sex,birthday,age,notes)
        values (#{customer.userId},#{customer.name},#{customer.phone},#{customer.address},#{customer.sex},#{customer.birthday},
                #{customer.age},#{customer.notes})  </insert>
    <update id="updateCustomer">
        update customers set userId=#{customer.userId},name=#{customer.name},phone=#{customer.phone},address=#{customer.address},
                sex=#{customer.sex},birthday=#{customer.birthday},age=#{customer.age},notes={customer.notes}</update>
    <delete id="deleteCustomer">
        delete from customers where customerId=#{customerId}
    </delete>
    <select id="showall" resultType="com.example.yanglao.entity.Customer">
        select * from customers
    </select>
    <select id="findCustomerbyName" resultType="com.example.yanglao.entity.Customer">
        select  * from customers where name=#{name}
    </select>
    <select id="medical" resultType="com.example.yanglao.entity.Customer">
        select * from customers where medical='1'
    </select>

</mapper>
